/* generics */

img{
    width: 100%;
}

.vi-bg-black{
    background-color: black;
}

.vi-sony-logo{
    width: 100px;
}

.vi-bg-light-dark{
    background-color: #363636;
}

.vi-bg-first-section{
    background-image: url(\img/jumbo-bg.png);
    background-position: top;
    background-size: cover;
    margin-top: 8rem;
}

.vi-bg-red{
    background-color: #cd3d0f;
}

.jumbo-container{
    margin-top: 15rem;
}