/* generics */

img{
    width: 100%;
}

.vi-bg-black{
    background-color: black;
    height: 10vh;
}

.vi-bg-light-dark{
    background-color: #363636;
}

.vi-bg-first-section{
    background-image: url(\img/jumbo-bg.png);
    background-position: 50%;
   background-size: cover;
    height: 90vh;

}

.vi-bg-red{
    background-color: #cd3d0f;
}